# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\AklAm\IdeaProjects\ANDROID_PROJECTS\JAVA\Arbre_Genealogique_App\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
